<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ClienteMapper">
    <select id="consultarClientes" resultMap="ClienteResultMap">
        SELECT
            c.documento,
            c.nombre,
            c.telefono,
            c.direccion,
            c.email,
            c.vetado,
            ir.id AS ITEMRENTADO_id,
            ir.fechainiciorenta AS ITEMRENTADO_fechainiciorenta,
            ir.fechafinrenta AS ITEMRENTADO_fechafinrenta,
            i.id AS ITEMRENTADO_ITEMS_id,
            i.nombre AS ITEMRENTADO_ITEMS_nombre,
            i.descripcion AS ITEMRENTADO_ITEMS_descripcion,
            i.fechalanzamiento AS ITEMRENTADO_ITEMS_fechalanzamiento,
            i.tarifaxdia AS ITEMRENTADO_ITEMS_tarifaxdia,
            i.formatorenta AS ITEMRENTADO_ITEMS_formatorenta,
            i.genero AS ITEMRENTADO_ITEMS_genero,
            ti.id AS ITEMRENTADO_ITEMS_TIPOITEM_id,
            ti.descripcion AS ITEMRENTADO_ITEMS_TIPOITEM_descripcion
        FROM
            VI_CLIENTES AS c
        LEFT JOIN
            VI_ITEMRENTADO AS ir ON c.documento = ir.CLIENTES_documento
        LEFT JOIN
            VI_ITEMS AS i ON ir.ITEMS_id = i.id
        LEFT JOIN
            VI_TIPOITEM AS ti ON i.TIPOITEM_id = ti.id;
    </select>

    <select id="consultarCliente" resultMap="ClienteResultMap" parameterType="long">
        SELECT
            c.documento,
            c.nombre,
            c.telefono,
            c.direccion,
            c.email,
            c.vetado,
            ir.id AS ITEMRENTADO_id,
            ir.fechainiciorenta AS ITEMRENTADO_fechainiciorenta,
            ir.fechafinrenta AS ITEMRENTADO_fechafinrenta,
            i.id AS ITEMRENTADO_ITEMS_id,
            i.nombre AS ITEMRENTADO_ITEMS_nombre,
            i.descripcion AS ITEMRENTADO_ITEMS_descripcion,
            i.fechalanzamiento AS ITEMRENTADO_ITEMS_fechalanzamiento,
            i.tarifaxdia AS ITEMRENTADO_ITEMS_tarifaxdia,
            i.formatorenta AS ITEMRENTADO_ITEMS_formatorenta,
            i.genero AS ITEMRENTADO_ITEMS_genero,
            ti.id AS ITEMRENTADO_ITEMS_TIPOITEM_id,
            ti.descripcion AS ITEMRENTADO_ITEMS_TIPOITEM_descripcion
        FROM
            VI_CLIENTES AS c
        LEFT JOIN
            VI_ITEMRENTADO AS ir ON c.documento = ir.CLIENTES_documento
        LEFT JOIN
            VI_ITEMS AS i ON ir.ITEMS_id = i.id
        LEFT JOIN
            VI_TIPOITEM AS ti ON i.TIPOITEM_id = ti.id
        WHERE
            c.documento = #{docu};
    </select>
    
    <insert id="agregarItemRentadoACliente">
        INSERT INTO
            VI_ITEMRENTADO (CLIENTES_documento, ITEMS_id, fechainiciorenta, fechafinrenta)
        VALUES
            (#{idCli}, #{idItm}, #{fechaInicio}, #{fechaFin});
    </insert>

    <insert id="agregarItemRentadoAClienteConId">
        INSERT INTO
            VI_ITEMRENTADO (id, CLIENTES_documento, ITEMS_id, fechainiciorenta, fechafinrenta)
        VALUES
            (#{id}, #{idCli}, #{idItm}, #{fechaInicio}, #{fechaFin});
    </insert>

    <select id="consultarItemsCliente" parameterType="long" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper.ItemRentadoResultMap">
        SELECT
            ir.id,
            ir.fechainiciorenta,
            ir.fechafinrenta,
            i.id AS ITEMS_id,
            i.nombre AS ITEMS_nombre,
            i.descripcion AS ITEMS_descripcion,
            i.fechalanzamiento AS ITEMS_fechalanzamiento,
            i.tarifaxdia AS ITEMS_tarifaxdia,
            i.formatorenta AS ITEMS_formatorenta,
            i.genero AS ITEMS_genero,
            ti.id AS ITEMS_TIPOITEM_id,
            ti.descripcion AS ITEMS_TIPOITEM_descripcion
        FROM
            VI_ITEMRENTADO AS ir
        LEFT JOIN
            VI_ITEMS AS i ON ir.ITEMS_id = i.id
        LEFT JOIN
            VI_TIPOITEM AS ti ON i.TIPOITEM_id = ti.id
        WHERE
            ir.CLIENTES_documento = #{docu};
    </select>

    <insert id="registrarCliente" parameterType="Cliente">
        INSERT INTO
            VI_CLIENTES (documento, nombre, telefono, direccion, email, vetado)
        VALUES
            (#{cliente.documento}, #{cliente.nombre}, #{cliente.telefono}, #{cliente.direccion}, #{cliente.email}, #{cliente.vetado});
    </insert>

    <update id="vetarCliente">
        UPDATE
            VI_CLIENTES
        SET
            vetado = #{estado}
        WHERE
            documento = #{docu};
    </update>

    <delete id="limpiarClientes">
        DELETE FROM
            VI_CLIENTES;
    </delete>

    <resultMap id="ClienteResultMap" type="Cliente">
        <id column="documento" property="documento"/>
        <result column="nombre" property="nombre"/>
        <result column="telefono" property="telefono"/>
        <result column="direccion" property="direccion"/>
        <result column="email" property="email"/>
        <result column="vetado" property="vetado"/>
        <collection property="rentados" ofType="ItemRentado" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper.ItemRentadoResultMap" columnPrefix="ITEMRENTADO_"/>
    </resultMap>
</mapper>