<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">
    <select id="valorMultaRetrasoPorDia" resultType="int">
        SELECT
            VI_ITEMS.tarifaxdia
        FROM
            VI_ITEMS
        WHERE
            VI_ITEMS.id = #{id};
    </select>

    <select id="consultarItems" resultMap="ItemResultMap">
        SELECT
            i.id,
            i.nombre,
            i.descripcion,
            i.fechalanzamiento,
            i.tarifaxdia,
            i.formatorenta,
            i.genero,
            ti.id AS TIPOITEM_id,
            ti.descripcion AS TIPOITEM_descripcion
        FROM
            VI_ITEMS AS i
        LEFT JOIN
            VI_TIPOITEM AS ti ON i.TIPOITEM_id = ti.id;
    </select>

    <select id="consultarItem" resultMap="ItemResultMap" parameterType="int">
        SELECT
            i.id,
            i.nombre,
            i.descripcion,
            i.fechalanzamiento,
            i.tarifaxdia,
            i.formatorenta,
            i.genero,
            ti.id AS TIPOITEM_id,
            ti.descripcion AS TIPOITEM_descripcion
        FROM
            VI_ITEMS AS i
        LEFT JOIN
            VI_TIPOITEM AS ti ON i.TIPOITEM_id = ti.id
        WHERE
            i.id = #{id};
    </select>

    <insert id="insertarItem" parameterType="Item">
        INSERT INTO VI_ITEMS (id, nombre, descripcion, fechalanzamiento, tarifaxdia, formatorenta, genero, TIPOITEM_id)
        VALUES (#{item.id}, #{item.nombre}, #{item.descripcion}, #{item.fechaLanzamiento}, #{item.tarifaxDia},
                #{item.formatoRenta}, #{item.genero}, #{item.tipo.id});
    </insert>

    <insert id="insertarItemWithID" parameterType="map">
        INSERT INTO VI_ITEMS (id, nombre, descripcion, fechalanzamiento, tarifaxdia, formatorenta, genero, TIPOITEM_id)
        VALUES (#{item.id}, #{item.nombre}, #{item.descripcion}, #{item.fechaLanzamiento}, #{item.tarifaxDia},
                #{item.formatoRenta}, #{item.genero}, #{tipoId});
    </insert>

    <select id="loadAvailable" resultMap="ItemResultMap">
        SELECT
            i.id,
            i.nombre,
            i.descripcion,
            i.fechalanzamiento,
            i.tarifaxdia,
            i.formatorenta,
            i.genero,
            ti.id AS TIPOITEM_id,
            ti.descripcion AS TIPOITEM_descripcion
        FROM
            VI_ITEMS AS i
        LEFT JOIN
            VI_TIPOITEM AS ti ON i.TIPOITEM_id = ti.id
        LEFT JOIN
            VI_ITEMRENTADO AS ir ON i.id = ir.ITEMS_id
        WHERE
            ir.ITEMS_id IS NULL;
    </select>

    <update id="actualizarTarifaItem">
        UPDATE
            VI_ITEMS
        SET
            tarifaxdia = #{tarifa}
        WHERE
            id = #{id};
    </update>

    <delete id="limpiarItems">
        DELETE FROM
            VI_ITEMS;
    </delete>

    <resultMap id="ItemResultMap" type="Item">
        <id column="id" property="id"/>
        <result column="nombre" property="nombre"/>
        <result column="descripcion" property="descripcion"/>
        <result column="fechalanzamiento" property="fechaLanzamiento"/>
        <result column="tarifaxdia" property="tarifaxDia"/>
        <result column="formatorenta" property="formatoRenta"/>
        <result column="genero" property="genero"/>
        <association property="tipo" javaType="TipoItem" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper.TipoItemResultMap" columnPrefix="TIPOITEM_"/>
    </resultMap>
</mapper>