<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">
    <select id="consultarItemRentado" resultMap="ItemRentadoResultMap" parameterType="int">
        SELECT * FROM VI_ITEMRENTADO WHERE ITEMS_id = #{itemId} GROUP BY ITEMS_id;
    </select>

    <select id="consultarItemsRentados" resultMap="ItemRentadoResultMap">
        SELECT * FROM VI_ITEMRENTADO;
    </select>

    <delete id="limpiarItemsRentados">
        DELETE FROM VI_ITEMRENTADO;
    </delete>

    <resultMap id="ItemRentadoResultMap" type="ItemRentado">
        <id column="id" property="id"/>
        <result column="fechainiciorenta" property="fechaInicioRenta"/>
        <result column="fechafinrenta" property="fechaFinRenta"/>
        <association property="item" javaType="Item" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResultMap"/>
    </resultMap>
</mapper>
