<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper">
    <select id="getTipoItem" parameterType="int" resultMap="TipoItemResultMap">
        SELECT
            *
        FROM
            VI_TIPOITEM
        WHERE
            id = #{tipoItemId};
    </select>

    <select id="getTiposItems" resultMap="TipoItemResultMap">
        SELECT
            *
        FROM
            VI_TIPOITEM;
    </select>

    <insert id="addTipoItem" parameterType="TipoItem">
        INSERT INTO
            VI_TIPOITEM (id, descripcion)
        VALUES
            (#{tipoItem.id}, #{tipoItem.descripcion});
    </insert>

    <delete id="limpiarTiposItem">
        DELETE FROM
            VI_TIPOITEM;
    </delete>

    <resultMap id="TipoItemResultMap" type="TipoItem">
        <id column="id" property="id"/>
        <result column="descripcion" property="descripcion"/>
    </resultMap>
</mapper>